@{
    ViewData["Title"] = "Home Page";

}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

            .accordion:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }



            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #d71921;
                color: white;
            }
    </style>
</head>
<body>


    <button class="accordion">Section 1</button>
    <div class="panel">
        <div>
            <p>Pre-Sales</p>
            <div style="padding-top:15px; padding-left:15px;">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <label style="font-weight:bold">Pre Activity Sales</label>
                        </div>
                        <div class="col-3">
                            <label>From:</label>
                            <input type="date" id="startdatepre" value="" style="margin-left: 2%;" />

                        </div>
                        <div class="col-3">
                            <label>To:</label>

                            <input type="date" id="enddatepre" value="" style="margin-left: 2%;" />
                        </div>
                        <div class="col-3">
                            <input style="" onclick="PreActivitySales()" type="button" class="searchbutton" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <table id="customers">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Discount</th>
                        <th>Contribution</th>
                        @if (ViewBag.PreMonthYear != null)
                        {
                            @foreach (var premon in ViewBag.PreMonthYear)
                            {
                                <th>@premon.Month/@premon.Year</th>
                            }
                        }
                        else
                        {
                            <th></th>
                        }


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>

            <p>Post-Sales</p>
            <div style="padding-top:15px; padding-left:15px;">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <label style="font-weight:bold">Post Activity Sales</label>
                        </div>
                        <div class="col-3">
                            <label>From:</label>
                            <input type="date" id="startdatepost" value="" style="margin-left: 2%;" />

                        </div>
                        <div class="col-3">
                            <label>To:</label>

                            <input type="date" id="enddatepost" value="" style="margin-left: 2%;" />
                        </div>
                        <div class="col-3">

                            <input style="" onclick="PostActivitySales()" type="button" class="searchbutton" value="Search" />



                        </div>
                    </div>
                </div>
            </div>
            <table id="customers">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Discount</th>
                        <th>Contribution</th>
                        @if (ViewBag.PostMonthYear != null)
                        {
                            @foreach (var postmon in ViewBag.PostMonthYear)
                            {
                                <th>@postmon.Month/@postmon.Year</th>
                            }
                        }
                        else
                        {
                            <th></th>
                        }


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/datatable_file.js"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

    </script>

</body>
</html>