################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PassForm-BPS/FileContentIndex
/PASSForm-BPS/obj/Release/net6.0/PASSForm-BPS.assets.cache
/.gitignore
