
<style>
    .custom-alert {
        display: none;
        background-color: #f44336;
        color: white;
        padding: 10px;
        text-align: center;
    }

</style>

<div class="custom-alert">
    <p>@ViewBag.AlertMessage</p>
</div>
